.parent {
    position: fixed;
    width:6rem;
    top: 1rem;
    left: 5rem;
}

.main {
    position: fixed;
    width:6rem;
    top: 1rem;
    left: 5rem;
}

.uparrow {
    position: fixed;
    width:6rem;
    top: 1rem;
    left: 5rem;
    opacity: 0;
}

.downarrow {
    position: fixed;
    width:6rem;
    top: 1rem;
    left: 5rem;
    opacity: 0;
}

.face1 {
    position: fixed;
    width:6rem;
    top: 1rem;
    left: 5rem;
    opacity: 0;
}

.face2 {
    position: fixed;
    width:6rem;
    top: 1rem;
    left: 5rem;
    opacity: 0;
}

.face3 {
    position: fixed;
    width:6rem;
    top: 1rem;
    left: 5rem;
    opacity: 0;
}

.face4 {
    position: fixed;
    width:6rem;
    top: 1rem;
    left: 5rem;
    opacity: 0;
}

.leftb {
    position: fixed;
    width:6rem;
    top: 1rem;
    left: 5rem;
    opacity: 0;
}

.rightb {
    position: fixed;
    width:6rem;
    top: 1rem;
    left: 5rem;
    opacity: 0;
}

.opacity-on {
    opacity: 100;
}
