* {
    padding: 0;
}

html, body {
    height: 100vh;
    overflow: hidden;
    color: white;
    font-size: small;
    background-image: linear-gradient(#26292e, #090110);
}

#app {
    display: flex;
    flex-direction: column;
}

#navbar {
    display: flex;
    height: 1.5rem;
    justify-content: space-between;
    gap: 1rem;
}

#navbar a {
    padding-top: 0.2rem;
    color: white;
    text-decoration: none;
}

#logo {
    height: 2rem;
}

#navbar_left, #navbar_right {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#main_wrapper {
    display: flex;
    justify-content: left;
    height: 60vh;
    width: 100vw;
    gap: 1rem;
    /* margin-inline: auto; */
    margin: 1rem;
}

/****** SALE LIST ******/
#wishlist_wrapper {
    height: 60vh;
    width: 10vw;
    background-color: #26292e;
    /* border: 1px solid purple; */
}

/****** WISH LIST ******/
#wishlist {
    padding-left: 1rem;
}

/****** SEARCH ******/
#game_search_wrapper {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 80vw;
    gap: 1rem;
    /* justify-content: space-around; */
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #26292e;

    /* border: 1px dashed darkred; */
}

#game_search_results {
    display: flex;
    flex-direction: column;
    font-size: xx-small;
    height: 60vh;
}

/****** GAME INFO ******/
#bg_image {
    margin: 0;
    padding: 0;
    width: inherit;
    height: height;
    opacity: 0.2;
}

#game_page {
    display: flex;
    position: relative;
    justify-content: space-around;
    /* gap: 2rem; */
    height: 60vh;
    width: 85vw;
    font-size: 5pt;
    background-color: #26292e;
    /* border: 1px dashed darkred; */
}

#game_info {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: flex-start;
    left: 0;
    margin: 1rem;
    height: 100%;
    /* width: 50%; */
    /* border: 1px dashed red; */
}

#game_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 10%;
    width: 90%;
    /* margin-inline: 1rem; */
    margin-bottom: 1rem;

    /* border: 1px dashed darkred; */
}

#wishlist_add {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    
    font-size: large;
    font-weight: bold;
    outline: 2px dotted gray;
    color: gray;
;
    /* border: 1px solid green; */
}

#game_genre_list {
    display: flex;
    width: fit-content;
    gap: 1rem;
    /* border: 1px dashed darkred; */
}

#game_genre {
    padding: 0.3rem;
    background-color: rgba(37, 36, 44, 0.5);
    outline: 1px solid #2d3b56;
}

#game_info_description {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* text-align: justify; */
    font-size: 3pt;
    width: 37vw;
    max-height: 55%;
    margin-inline: 1rem;
    /* border: 1px dashed darkred; */
}

#game_info_description p {
    height: 100%;
    margin: auto;
    overflow: scroll;
    text-overflow: ellipsis;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#game_info_stores_wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 1rem;
    height: min-content;
    max-height: 25%;
    width: 40vw;
    margin-inline: 1rem;

    /* border: 1px dashed blue; */
}

#game_stores {
    display: flex;
    flex-direction: column;
    position: relative;
    /* bottom: 1rem; */
    height: 10%;
    width: 40vw;
    /* margin-inline: 1rem; */
    /* border: 1px dashed darkred; */
}

#stores_steam {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    /* border: 1px dashed darkred; */
}

#steam_logo {
    width: 2.5rem;
}

/* Add logic for these later to only change when on sale, otherwise normal text stays the same */
#steam_not_onsale {
    color: white;
}

#steam_onsale {
    color: grey;
    text-decoration: line-through;
}

#steam_sale {
    color: yellow;
}

/****** GAME MEDIA ******/
#game_media {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    /* background-color: #26292e; */
    /* border: 1px dashed blue; */
}

#big_screenshot {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

#current_screenshot {
    display: flex;
    /* position: absolute; */
    /* right: 1rem; */
    width: 100%;
    height: auto;
    /* margin-right: 1rem; */
    /* margin-top: 1rem; */
    /* margin: 1rem; */
}

#thumbnails {
    display: flex;
    height: 10vh;
    margin-inline: 1rem;
    margin-bottom: 1rem;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

#thumbnails p {
    display: flex;
    width: 6rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

/****** BOTTOM LINKS ******/
#bottom_links_wrapper {
    display: flex;
    justify-content: space-between;
    height: 25vh;
    width: 95vw;
    margin-inline: auto;
}

#popular_sales_wrapper {
    height: 25vh;
    width: 58vw;
    background-color: #090110;
    border: 1px solid orange;
}

#free_games_wrapper {
    height: 25vh;
    width: 35vw;
    background-color: #090110;
    border: 1px solid orange;
}