* {
    padding: 0;
}

html, body {
    height: 100vh;
    overflow: hidden;
    color: white;
    font-size: small;
    background-image: linear-gradient(#26292e, #090110);
}

#app {
    display: flex;
    flex-direction: column;
}


/****** NAVBAR ******/
#navbar {
    display: flex;
    justify-content: space-between;
    height: 1.5rem;
    gap: 1rem;
    margin-top:1rem;
    padding-block: 1rem;
    padding-right: 4rem;
}

#navbar a {
    padding-top: 0.2rem;
    text-decoration: none;
    color: white;
}

#logo {
    height: 6rem;
    padding-top: 2rem;
    padding-left: 3rem;
}

#logout_icon {
    height: 1.5rem;
    filter: saturate(500%) contrast(800%) brightness(500%) invert(80%) sepia(50%) hue-rotate(120deg);
}

#logout_icon:hover {
    filter: none;
}

#navbar_left, #navbar_right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#navbar_middle {
    display: flex;
    align-items: center;
    gap: 1rem;
}
#search_input {
    width: 30rem;
    height: 1.5rem;
    padding-left: 1rem;
    background-color: rgba(9, 1, 16, 0.5);
    color: white;
    border: 0;
    outline: 3px solid rgba(9, 1, 16, 0.8);
}

#main_wrapper {
    display: flex;
    justify-content: left;
    height: 71vh;
    width: 96vw;
    gap: 1rem;
    margin: 1rem;
    
    /* border: 1px solid red; */
}

/****** WISH LIST ******/
#wishlist {
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 10vw;
    font-size: 8pt;
    margin-top: 2rem;
    
    background-color: rgba(38, 41, 46, 1);
    /* border: 1px solid red; */
}

#wishlist p{
    margin-left: 1rem;
    margin-top: 1rem;
}

#wishlist_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* border: 1px solid red; */
}

#wishlist_remove{
    font-size: 8pt;
    width: fit-content;
    text-align: center;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    padding: 0.1rem 0.3rem;
    background-color: rgba(255, 0, 0, 0.316);
    border: 1px solid red;
    border-radius: 5px;
}

/****** SEARCH ******/
#game_search_wrapper {
    display: flex;
    flex-direction: column;
    height: 67vh;
    width: 85vw;
    gap: 1rem;
    margin-top: 2rem;
    padding-left: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #26292e;

    /* border: 1px dashed darkred; */
}

#game_search_results {
    display: flex;
    flex-direction: column;
    font-size: xx-small;
    height: 60vh;
    /* padding: 1rem; */
}

/****** GAME INFO ******/
#bg_image {
    margin: 0;
    padding: 0;
    width: inherit;
    height: height;
    opacity: 0.2;
}

#game_page {
    display: flex;
    position: relative;
    justify-content: space-around;
    /* gap: 2rem; */
    height: 60vh;
    width: 85vw;
    font-size: 5pt;
    margin-top: 2rem;
    background-color: #26292e;
    /* border: 1px dashed darkred; */
}

#game_info {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: flex-start;
    left: 0;
    margin: 1rem;
    height: 100%;
    /* width: 50%; */
    /* border: 1px dashed red; */
}

#game_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 10%;
    width: 90%;
    margin-bottom: 1rem;
    /* border: 1px dashed darkred; */
}

#wishlist_add {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
}

#game_genre_list {
    display: flex;
    width: fit-content;
    gap: 1rem;
    /* border: 1px dashed darkred; */
}

#game_genre {
    padding: 0.3rem;
    background-color: rgba(37, 36, 44, 0.5);
    outline: 1px solid #2d3b56;
}

#game_info_description {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* text-align: justify; */
    font-size: 3pt;
    width: 37vw;
    max-height: 55%;
    margin-inline: 1rem;
    /* border: 1px dashed darkred; */
}

#game_info_description p {
    height: 100%;
    margin: auto;
    overflow: scroll;
    text-overflow: ellipsis;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#game_info_stores_wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 1rem;
    height: min-content;
    max-height: 25%;
    width: 40vw;
    margin-inline: 1rem;

    /* border: 1px dashed blue; */
}

#game_stores {
    display: flex;
    flex-direction: column;
    position: relative;
    /* bottom: 1rem; */
    height: 10%;
    width: 40vw;
    /* margin-inline: 1rem; */
    /* border: 1px dashed darkred; */
}

#stores_steam {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    /* border: 1px dashed darkred; */
}

#steam_logo {
    width: 2.5rem;
}

/* Add logic for these later to only change when on sale, otherwise normal text stays the same */
#steam_not_onsale {
    color: white;
}

#steam_onsale {
    color: grey;
    text-decoration: line-through;
}

#steam_sale {
    color: yellow;
}

/****** GAME MEDIA ******/
#game_media {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    /* background-color: #26292e; */
    /* border: 1px dashed blue; */
}

#big_screenshot {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

#current_screenshot {
    display: flex;
    /* position: absolute; */
    /* right: 1rem; */
    width: 100%;
    height: auto;
    /* margin-right: 1rem; */
    /* margin-top: 1rem; */
    /* margin: 1rem; */
}

#thumbnails {
    display: flex;
    height: 10vh;
    margin-inline: 1rem;
    margin-bottom: 1rem;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

#thumbnails p {
    display: flex;
    width: 6rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

/****** BOTTOM LINKS ******/
#bottom_links_wrapper {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    height: 25vh;
    width: 85vw;
    margin-right: 2.8vw;
    /* border: 1px solid red; */
}

#popular_sales_wrapper {
    height: 15vh;
    width: 42.5vw;
    background-color: #090110;
    border: 1px solid orange;
}

#free_games_wrapper {
    height: 15vh;
    width: 41.5vw;
    background-color: #090110;
    border: 1px solid orange;
}