*{
    padding: 0;
}

html, body {
    height: 100vh;
    overflow: hidden;
    color: white;
    background-image: linear-gradient(#26292e, #090110);
}

#app {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#navbar {
    display: flex;
    height: 1.5rem;
    justify-content:space-between;
    gap: 1rem;
}

#navbar a {
    padding-top: 0.2rem;
    color: white;
    text-decoration: none;
}

#logo {
    height: 2rem;
}

#navbar_left, #navbar_right {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#main_list_wrapper {
    display: flex;
    justify-content: left;
    height: 60vh;
    width: 95vw;
    gap: 1rem;
    margin-inline: auto;
}

/****** SALE LIST ******/
#sale_list_wrapper{
    height: 60vh;
    width: 20vw;
    
    background-color: #26292e;
    border: 1px solid purple;
}

/****** WISH LIST ******/
#wishlist {
    padding-left: 1rem;
}

/****** GAME INFO ******/
#game_info_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
    max-height: 60vh;
    width: 36vw;
    gap: 1rem;
    background-color: #26292e;
    border: 1px dashed darkred;
}

#game_search_wrapper{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    height: 60vh;
    overflow: hidden;
    width: 73vw;
    gap: 1rem;
    background-color: #26292e;
    border: 1px dashed darkred;
}

#game_search_results {
    display: flex;
    flex-direction: column;
    font-size: xx-small;
    height: 60vh;
    /* overflow:scroll; */
    

}

#game_info_name{
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 10vh;
    width: 33vw;
    margin-top: 1rem;
    margin-inline: auto;
    background-color: #26292e;
    border: 1px dashed darkred;
}

#game_info_description{
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 15vh;
    max-height: 15vh;
    overflow: hidden;
    width: 33vw;
    margin-inline: auto;
    background-color: #26292e;
    border: 1px dashed darkred;
}
#game_info_description span{
    height: 15vh;
    max-height: 15vh;
    /* overflow: hidden; */
}

#game_info_tags {
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 5vh;
    max-height: 10vh;
    width: 33vw;
    margin-inline: auto;
    background-color: #26292e;
    border: 1px dashed darkred;
}

#game_info_stores {
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 20vh;
    width: 33vw;
    margin-bottom: 1rem;
    margin-inline: auto;
    background-color: #26292e;
    border: 1px dashed darkred;
}

/****** GAME MEDIA ******/
#game_media_wrapper{
    height: 60vh;
    width: 35vw;
    background-color: #26292e;
    border: 1px dashed red;
}

/****** BOTTOM LINKS ******/
#bottom_links_wrapper{
    display: flex;
    justify-content: space-between;
    height: 25vh;
    width: 95vw;
    margin-inline: auto;
}

#popular_sales_wrapper{
    height: 25vh;
    width: 58vw;
    background-color: #090110;
    border: 1px solid orange;
}

#free_games_wrapper{
    height: 25vh;
    width: 35vw;
    background-color: #090110;
    border: 1px solid orange;
}