{% extends 'base.html' %}
{% block content %}

<div id="main_list_wrapper">
    
    <div id="sale_list_wrapper">
        <p id="wishlist">wishlist 1</p>
        <p id="wishlist">wishlist 2</p>
        <p id="wishlist">wishlist 3</p>
    </div>
    
    <div id="game_search_wrapper" v-if="gameID === 0">
        <p v-if="searching === 0">1. no game chosen</p>
        {% comment %} <li id="game_search_results" v-if="gameID === 0 && searching === 1"> {% endcomment %}
        <div id="game_search_results" v-for="game in game_search">
            <p @click="getGameInfo(game.id)">[[game.name]] - [[game.id]]</p>
        </div>
    </div>

    <div id="game_info_wrapper" v-if="gameID != 0">
        <div id="game_page">
            <div id="game_info_name">
                <p>[[this.name]]</p>
                <div id="genre_list" v-for="genre in genres">
                    <p>[[genre.name]]</p>
                </div>
            </div>
            <div id="game_info_description">
                <p>[[this.description]]</p>
            </div>
            <div id="game_info_tags">
                {% comment %} <p>[[this.tags]]</p> {% endcomment %}
            </div>
            <div id="game_info_stores">
                <p>store links</p>
            </div>
        </div>
    </div>

    <div id="game_media_wrapper" v-if="gameID != 0">
    </div>


</div>

<div id="bottom_links_wrapper">
    <div id="popular_sales_wrapper">
    </div>
    <div id="free_games_wrapper">
    </div>
</div>

{% endblock content %}