<!DOCTYPE html>
<html lang="en">
    {% load static %}
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static '/favicon.ico' %}">
    <title>gameBot v1</title>
</head>
<body>
    {% csrf_token %}
    <div id="app">
        
        <div id="navbar">
            <input id="search" placeholder="Search...">
            <div id="navbar_links">
                <p>wishlist</p>
                <p>notifications</p>
                <p>login links</p>
                <p>username</p>
            </div>
            <img id="logo" src="{% static './gamebot_logo.png' %}">
        </div>

        <div id="main_list_wrapper">
            <div id="sale_list_wrapper">
                <p id="wishlist">Grand Theft Auto V</p>
                <p id="wishlist">Everspace 2</p>
                <p id="wishlist">Portal 2</p>
            </div>
            <div id="game_info_wrapper">
            </div>
            <div id="game_media_wrapper">
            </div>
        </div>

        <div id="bottom_links_wrapper">
            <div id="popular_sales_wrapper">
            </div>
            <div id="free_games_wrapper">
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="{% static '/app.js' %}"></script> 
    <script> const mountApp = app.mount('#app') </script>
</body>
</html>